body{
    font-family: Karla;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    margin: 20px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

header div{
    display: flex;
    align-items:center;
}

header img{
    width: 135px;
    height: 35px;
    padding: 0px 10px 0px 10px;
}

header button{
    outline: 0;
    border: hidden;
    background-color: #ffffff;
    border: 1px solid rgb(0,130,230);
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 4px 0px 1px 20px;
}

header a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(122,122,122);
    display: inline-block;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, rgba(255,29,37,1) 0%, rgba(1,131,231,1) 100%);
}

nav div{
    display: flex;
    margin: 0px 10px 0px 10px;
}

nav p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

nav img{
    height: 18px;
    width: 18px;
    margin-right: 4px;
}

nav div:nth-child(1){
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    padding: 5px 5px;
}

nav a:hover{
    border: 1px solid #fff;
    border-radius: 25px;
    outline: #fff;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E9EBEE;
}

section div div{
    display: flex;
    padding: 8px 10px;
    font-size: 14px;
}

section div a{
    color: #000;
    text-decoration: none;
    margin: 0px;
    padding-left: 7px;
}

section div div i {
    text-align: center;
    width: 18px;
    height: 18px;
}

section img{
    width: calc(100% - 5px);
    height: auto;
}

.align{
    width: 1100px;
    height: 40px;
    margin-left: -26px;
}

.fa-caret-down{
    padding-left: 5px;
     color: #444444;
     height: 14px;
     width: 8px;
}

.header-buttons{
    display: flex;
    align-items: center;
    margin: 10px;
}

.header-icons{
    width: 26px;
    height: 26px;
}

.search-logo{
    height: 24px;
    width: 24px;
}

.menu{
    background-color: #fff;
}

.products{
    margin-bottom: -11px;
    background-color: #ffffff;
    padding: 5px 10px 15px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.fa-mobile-alt{
    padding-top: 5px;
}

.bottom-menu{
    padding-bottom: -20px;
}

.benefits{
    display: flex;
    justify-content: center;
}

.benefits div{
    display: flex;
    vertical-align: middle;
    padding: 17px 27px 17px 27px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.benefits div p{
    font-size: 15px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

.benefits img{
    width: 54px;
    height: 54px;
    padding-right: 15px;
}

.middle{
    width: 100%;
    background-color: #E9EBEE;
}

.offers-img{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.cards{
    display: flex;
    margin-top: 25px;
}

.card-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 191px;
    height: 308px;
    background-color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.float{
    display: block;
    margin-left: -130px;
    margin-bottom: -30px;
    z-index: 1;
}

.float-discount{
    background-color: #F1482E;
    color: #fff;
    width: 72px;
    height: 26px;
    margin: 0;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    margin-left: -10px;
}

.float-discount span{
    display: block;
    padding-top: 4px;
}

.cards img{
    width: 137px;
    height: 137px;
    padding: 5px;
}

.cards div{
    padding: 5px 5px
}

.item-name{
    margin: 0px;
    height: 50px;
    overflow: hidden;
}

.fa-star{
    color: #F9BF3B;
}

.small-values{
    display: inline-block;
    font-size: 10px;
    position: relative;
    top: -4px;
}

.reduced-price{
    text-decoration: line-through;
    margin: 0px;
}

.discount{
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    color: #a7a7a7;
}

.price{
    color: #F1482E;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.for-who{
    display:flex
}

#offers{
    display: flex;
    flex-direction: column;
}

#offers button{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    padding: 10px 25px;
    width: 140px;
    height: 50px;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

#search{
    display: flex;
    width: 510px;
    height: 28px;
    border: 1px solid rgb(0,130,230);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none;
    margin: 0px 10px 0px 10px;
    padding: 2px 20px 2px 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(122,122,122);
}

#search:focus{
    outline: 0;
}

#submit-button{
    margin-left: -20px;
}

#offers{
    background-color: #488EAE;
    padding-bottom: 30px;
}

@media (max-width: 1255px){
    #search{
        width: 400px;
    }

    .menu{
        display: none;
    }

    .align{
        margin-left: 0;
    }

    section div img{
        width: 100%;
        height: auto;
    }
}

@media (max-width:1100px){
    header div:nth-child(4){
        display: none !important;
    }

    .benefits div p{
        font-size: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .benefits img{
        width: 42px;
        height: 42px;
        padding-right: 15px;
    }
}

@media (max-width: 845px) {
    .help{
        display: none;
    }
    .align{
        justify-content: center;
    }

    .benefits{
        overflow: scroll;
    }
}

@media (max-width: 745px){
    nav div div:nth-child(3){
        display: none !important;
    }
    section div div img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 695px){
    #search{
        width: 220px;
    }

    nav div div:nth-child(5){
        display: none !important;
    }
}
  